.container {
    display: grid;
    height: 100vh;
    grid-auto-flow: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1em;
}

.formContainer {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.form {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.text {
    font-size: xx-large;
    font-weight: 900;
    color: var(--dark-blue);
}

.login {

}

.pass {

}

.remember {

}

.submit {
    
}


.btn {
    border-radius: 20px;
    color: var(--light-blue);
    background-color: var(--ultra-dark-blue);
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.btn:hover {
    -webkit-filter: saturate(250%);
    -webkit-filter: brightness(200%);
  }
  
  .btn:active {
      transform: translateY(1px);
      -webkit-filter: saturate(500%);
      -webkit-filter: brightness(300%);
  }
  
  .selected {
    background: var(--gray-20);
  }

  .formError {
    color: var(--dark-red);
    padding: 5px;
    background-color: var(--light-red);
  }