.container {
    display: grid;
    grid-auto-flow: row;
    justify-content: left;
    grid-gap: 3px;
}

.textarea {

}

.container.redborder input,
.container.redborder textarea {
    border: 2px red solid;
}

.error {
    font-size: small;
    color:var(--dark-red);
    background-color:  var(--light-red);
}