.container {
    display: grid;
    grid-template-columns: auto 10fr;
}

.dialogsItems {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
}

.messagesItems {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
