.content {
    box-sizing: border-box;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bluegray-10);
  }
  
  .content img {
    width: 1200px;
    align-self: center;
    margin: -500px 0 0 auto;
  }
  
  .content .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    flex-wrap: wrap;
  
  }