:root {
  --ultra-light-red: #FFF5F5;
  --ultra-dark-red: #331717;
  --dark-red: #913434;
  --light-red: #FFCCCC;
  --main-red: #FF7575;

  --ultra-light-blue: #CCE7FF;
  --ultra-dark-blue: #172A33;
  --main-blue: #336699;
  --light-blue: #80BFFF;
  --dark-blue: #32516B;

  --ultra-light-green: #CCFFCC;
  --ultra-dark-green: #173317;
  --main-green: #4FBD4F;
  --light-green: #80FF80;
  --dark-green: #216621;

  --ultra-light-yellow: #FFEECC;
  --ultra-dark-yellow: #332817;
  --main-yellow: #FFD880;
  --light-yellow: #FFE7C0;
  --dark-yellow: #664F22;

  --gray-10: #F5F5F5;
  --gray-20: #E2E1E0;
  --gray-30: #CECDCC;
  --gray-40: #BAB9B9;
  --gray-50: #A5A4A4;
  --gray-60: #919090;
  --gray-70: #7C7C7C;
  --gray-80: #666668;
  --gray-90: #515254;
  --gray-100: #3B3D3F;

  --bluegray-10: #ECEFF8;
  --bluegray-20: #CAD6E0;
  --bluegray-30: #B8C3CC;
  --bluegray-40: #A5AAB7;
  --bluegray-50: #9399A3;
  --bluegray-60: #80888E;
  --bluegray-70: #6E747A;
  --bluegray-80: #5C5E66;
  --bluegray-90: #454851;
  --bluegray-100: #2F373F;
}

.App {
  font-family: -apple-system, "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "nav cont ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: auto 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-header {
  grid-area: header;
}

.app-wrapper-navbar {
  grid-area: nav;
}

.app-wrapper-content {
  grid-area: cont;
  background-color: var(--bluegray-10);
}