.container {
    padding: 10px;
    box-sizing: border-box;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bluegray-10);
  }

  .addtextContainer {

  }
  .messageContainer {

  }